services:
  php84-laravel:
    build:
      context: .
    ports:
      - "8001:8001"
    networks:
      - php-network2
    volumes:
      - .:/work
    working_dir: /work/php8-laravel
    command: php artisan serve --host=0.0.0.0 --port=8001
    environment:
      OTEL_SERVICE_NAME: "php84-laravel"
      OTEL_PHP_AUTOLOAD_ENABLED: true
      OTEL_LOGS_EXPORTER: none
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318

  db:
    image: mariadb:10.6
    #ports:
    #  - "3306:3306"
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 1
      MARIADB_DATABASE: laravel
    volumes:
      - php-db2:/var/lib/mysql
    networks:
      - php-network2
  #obi:
  #  image: docker.io/otel/ebpf-instrument:main
  #  pid: 'host'
  #  privileged: true
  #  environment:
  #    OTEL_EBPF_CONFIG_PATH: "/configs/obi-config.yml"
  #  volumes:
  #    - ./obi-config.yml:/configs/obi-config.yml
  #  networks:
  #    - php-network2

  otel-collector:
    image: mackerel/otelcol-mackerel:latest
    environment:
      MACKEREL_APIKEY: "${MACKEREL_APIKEY}"
      OTELCOL_MACKEREL_HOST: otel-collector
    networks:
      - php-network2

networks:
  php-network2:

volumes:
  php-db2:
